<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>寿县人APP后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script src="__PUBLIC__/echarts/echarts.min.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" href="__CSS__/admin-1.css" media="all">
</head>
<body class="layui-layout-body" style="overflow-y:visible;">

<form class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="layui-inline">
            <select name="merchant" lay-filter="type_id" lay-verify="required" id="option_one" lay-search="">
                <option value="">直接选择或搜索商家</option>
                {foreach $merchant as $k=>$v}
                <option value="{$v.id}">{$v.title}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input" name="mobile" placeholder="请输入用户手机号" id="mobile" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline">
                <input class="layui-input" name="order" placeholder="请输入订单号" id="demoReload" autocomplete="off">
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-input-inline" style="width: 300px;">
                <input type="text" name="time" class="layui-input" id="test6" placeholder="选择时间">
            </div>
        </div>
        <form class="layui-form">
            <div class="layui-inline">
                <a class="layui-btn  layui-btn-normal" data-type="search_banner">搜索</a>
                <a class="layui-btn" id="export"><i class="layui-icon">&#xe601;</i>导出数据</a>
                <a class="layui-btn layui-btn-danger batchDel" data-type="getCheckDelete">导出所选数据</a>
            </div>
        </form>
    </blockquote>
</form>

<table id="banner" lay-filter="banner"></table>
<script type="text/html" id="showmerchant">
    {{# if(d.merchant){ }}
    <div>{{d.merchant.title}}</div>
    {{# }else{ }}
    <div>无商家</div>
    {{#  } }}
</script>
<script type="text/html" id="showuser">
    <div>
        {{d.user.nickname}}：{{d.user.mobile}}
    </div>
</script>
<script type="text/html" id="showcoupon">
    <div>
        {{# if(d.coupon==null){ }}
        暂无使用任何优惠券
        {{# }else{ }}
        {{d.coupon.title}}
        {{# } }}
    </div>
</script>
<script type="text/html" id="showcoupon1">
    <div>
        {{# if(d.coupon==null){ }}
        0
        {{# }else{ }}
        {{d.coupon.face_value}}
        {{# } }}
    </div>
</script>
<script type="text/html" id="showtype">
    <div>
        {{# if(d.type==1){ }}
        直接领取
        {{# }else if(d.type==2){ }}
        {{d.integral}}积分兑换
        {{# }else if(d.type==3){ }}
        {{d.balance}}余额兑换
        {{# }else if(d.type==4){ }}
        {{d.integral}}积分兑换 或 {{d.balance}}余额兑换
        {{# } }}
    </div>
</script>
<script type="text/html" id="showuse">
    <div>
        {{# if(d.use_condition.amount=='0.00'){ }}
        无条件
        {{# }else{ }}
        消费满{{d.use_condition.amount}}元可用
        {{# } }}
    </div>
</script>
<script type="text/html" id="showmerchant_integral_deduction">
    <div>
        {{ d.merchant_integral_deduction }} : 1
    </div>
</script>


<script type="text/html" id="showStatus">
    {{# if(d.status==1) { }}
        <div style="color: #00B83F">已支付</div>
    {{# } else { }}
        <div style="color: #aa1111">待支付</div>
    {{# } }}
</script>

<script type="text/html" id="showPayType">
    {{# if(d.pay_type==1) { }}
    <div>微信</div>
    {{# } else if(d.pay_type==2){ }}
    <div>支付宝</div>
    {{# }else{ }}
    <div>余额</div>
    {{# } }}
</script>


<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="update">编辑</a>
    <!--<a class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delete">删除</a>-->
</script>

</body>
{include file="public/foot"}
<script type="text/javascript">
    layui.use(['form', 'table', 'jquery', 'laydate'], function () {
        var form = layui.form;
        var table = layui.table;
        var $ = layui.$;
        var laydate = layui.laydate;

        laydate.render({
            elem: '#test6'
            , range: true
        });
        $(window).one("resize", function () {
            $(".add_banner").click(function () {
                var index = layui.layer.open({
                    title: " ",
                    type: 2,
                    content: "publish",
                    success: function (layero, index) {
                        setTimeout(function () {
                            layui.layer.tips('点击此处返回广告列表', '.layui-layer-setwin .layui-layer-close', {
                                tips: [3, 'rgb(255, 184, 0)']
                            });
                        }, 500)
                    }
                })
                layui.layer.full(index);
            })
        }).resize();
        table.render({
            elem: '#banner',
            height: 'full-120',
            width: 'full',
            url: window.base.g_restUrl + 'consumptionorder/get/list',
            page: true,
            limits: [15, 25, 45, 60,99999],
            limit: 15,
            cols: [[
                {checkbox: true, fixed: true},
                {field: 'id', title: 'ID', width: 100, fixed: 'left', align: 'center', sort: true},
                {field: 'order', title: '订单号', width: 200, align: 'center', sort: true},
                {field: 'merchant', title: '商家', width: 180, templet: '#showmerchant', align: 'center', sort: true},
                {field: 'user', title: '用户', width: 200, edit: 'text', templet: '#showuser',sort: true},
                {field: 'coupon', title: '优惠券名称', width: 200, align: 'center', templet: '#showcoupon', sort: true},
                {field: 'coupon', title: '优惠券面值', width: 200, align: 'center', templet: '#showcoupon1', sort: true},
//                {field: 'integral', title: '消费积分', width: 100, align: 'center'},
//                {field: 'merchant_integral_deduction', title: '积分:人民币', width: 120, align: 'center',templet: '#showmerchant_integral_deduction'},
                {field: 'merchant_integral_deduction_copy', title: '积分抵扣', width: 100, align: 'center',templet: '#showdeduction',sort: true},
                {field: 'balance', title: '消费余额', width: 100, align: 'center', sort: true},
                {field: 'real_payment', title: '实付金额', width: 100, align: 'center'},
                {field: 'status', title: '支付状态', width: 100, align: 'center',templet:'#showStatus'},
                {field: 'pay_type', title: '支付方式', width: 100, align: 'center',templet:'#showPayType'},
                {field: 'total_amount', title: '总金额', width: 100, align: 'center', sort: true},
                {field: 'integral_rebate', title: '返积分', width: 100, align: 'center', sort: true},
                {field: 'integral_ratio', title: '积分返比%', width: 120, align: 'center', sort: true},
                {field: 'create_time', title: '支付时间', width: 200, align: 'center', sort: true},
//                {title: '操作', width: 200, align: 'center', toolbar: '#barDemo', fixed: 'right'}
            ]],
            id: 'tableBanner',
            done: function () {
            }
        });

        var $, active = {
            search_banner: function () {
                table.reload('tableBanner', {
                    page: {
                        curr: 1
                    }
                    , where: {
                        key: {
                            order: $("input[name='order']").val(),
                            mobile: $("input[name='mobile']").val(),
                            merchant: $('#option_one').val(),
                            time:$("input[name='time']").val()
                        }
                    }
                });
            },
            getCheckDelete: function () {
                var checkStatus = table.checkStatus('tableBanner')
                        , data = checkStatus.data;
                var deList = [];
                data.forEach(function (n, i) {
                    deList.push(n.id);
                });
                if (deList != '') {
                    layer.confirm('确定导出所选项吗？', function (index) {
                       layer.close(index);
                        exportData(deList);
                    })
                } else {
                    layer.tips('请选择要导出的行', $('.batchDel'), {
                        tips: [3, '#5fb878']
                    })
                }
            }

        };
        $('.layui-elem-quote .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });


    });

    $("#export").on('click', function () {
        var order = $("input[name='order']").val(),
            mobile = $("input[name='mobile']").val(),
            merchant = $('#option_one').val(),
            time = $("input[name='time']").val()

        window.location.href = window.base.g_restUrl + 'consumptionorder/data/exportaide?merchant='+merchant+'&mobile='+mobile+'&order='+order+'&time='+time;
    });

    function exportData(deList){
        window.location.href = window.base.g_restUrl + 'consumptionorder/data/export?ids='+deList;
    }

</script>
</html>